body {
    background: #d6e2f0;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    display: flex;
    place-content: center;
}

.qr-code {
    background: #fff;
    width: 20rem;
    height: 34rem;
    margin: 5rem 0 0 0;
    border-radius: 1.25rem;
}

.qr-code-frame {
    width: 90%;
    height: 65%;
    margin: 1.17rem 0 1.25rem 0;
    border-radius: .625rem;
}

h1 {
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0 0 1.25rem 0;
}

p {
    font-size: 14px;
    color: #95b1d1;
    padding: 0 0 .34rem 0;
}

span, a {
    font-size: .844rem; 
    text-decoration: none;
    color: #000;
    transition: 400ms;
}

a:hover {
    text-decoration: underline;
    color: #12f194;
    transition: 400ms;
}
