body {
    background: #d6e2f0;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    display: flex;
    place-content: center;
}

.qr-code {
    background: #fff;
    width: 20rem;
    height: 29rem;
    margin: 6.25rem 0 0 0;
    border-radius: 1.25rem;
}

.qr-code-frame {
    width: 90%;
    height: 65%;
    margin: 1.17rem 0 1.25rem 0;
    border-radius: .625rem;
}

h1 {
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0 0 1.25rem 0;
}

p {
    font-size: 14px;
    color: 	#95b1d1;
}